.custom_select_wrapper {
  height: 100%;
}
.css-26l3qy-menu {
  margin-top: -11px !important;
  margin-bottom: 0 !important;
  border-radius: 0px 0px 12px 12px !important;
  padding-top: 4px !important;
}

.css-4ljt47-MenuList {
  border-radius: 12px !important;
}
