@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.slick-dots li button:before {
  font-size: 26px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #ef8e01;
}

.slick-slide img {
  width: 140px;
}

.slick-initialized .slick-slide {
  margin-top: 67px;
}

.slick-center {
  transform: translateY(-67px);
  transition: 0.5s ease;
}

.slick-center img {
  width: 200px;
}

.slick-center p {
  color: #2a3c44;
  font-weight: bold;
  font-size: 18px;
}

.slick-center span {
  font-size: 18px;
  color: #ef8e01;
}

@media screen and (max-width: 1342px) {
  .slick-slide p {
    width: 200px;
  }
}

@media screen and (max-width: 960px) {
  .slick-slide p {
    width: 350px;
  }
}
